GkrisDF/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "GkrisDF"
		},
		"LS_BS_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_BS'"
		},
		"SqlServer1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer1'"
		},
		"SqlServer2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer2'"
		},
		"deletefiles_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'deletefiles'"
		},
		"linkedService1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'linkedService1'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/copyfiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "readfilesfrominputcontainer",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "csvfiles",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "filenamesiteration",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "readfilesfrominputcontainer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('readfilesfrominputcontainer').output.childitems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "copyingfiles",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "inputcsv",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "outputcsv",
											"type": "DatasetReference",
											"parameters": {
												"opfilename": {
													"value": "@concat(item().name,' - ',convertTimeZone(utcnow(),'UTC','India Standard Time'))",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "filenamesiteration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-15.eastus.logic.azure.com:443/workflows/4de9847155554a75b0676f216eb93c7d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Q964cAEaL2ny4Gb7aFY-Pirywpuwh3v3kkRCJbJS_UE",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n    \"color\":\"green\",\n    \"datafactoryname\":\"@{pipeline().DataFactory}\",\n     \"message\":\"@{concat('copied files successfully @',convertTimeZone(utcnow(),'UTC','India Standard Time'))}\",\n     \"pipelinename\":\"@{pipeline().Pipeline}\",\n      \"title\":\"Pipeline Executed Successfully\"\n ",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"getfilenames": {
						"type": "Array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-09-09T10:07:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/csvfiles')]",
				"[concat(variables('factoryId'), '/datasets/inputcsv')]",
				"[concat(variables('factoryId'), '/datasets/outputcsv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copymultiplesheetsintodifferentfiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Sheetname",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"copyBehavior": "MergeFiles"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "id",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "id",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "name",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "subject",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "subject",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "marks",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "marks",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "class",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "class",
														"type": "String",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Multiplesheets",
											"type": "DatasetReference",
											"parameters": {
												"sheetname": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "opmultisheetds",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Sheetname": {
						"type": "array",
						"defaultValue": [
							"Sheet1",
							"Sheet2"
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Multiplesheets')]",
				"[concat(variables('factoryId'), '/datasets/opmultisheetds')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/emailattachments')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute DF",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Inserting data from email attachments to Azure SQL",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"readingfilefromemailattachmentblob": {},
									"insertintoAzureSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "movingfilesafterprocessed",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Execute DF",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "inputemailattachments",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "LS_BS",
									"type": "LinkedServiceReference"
								},
								"path": "proccessedemailattachments"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Inserting data from email attachments to Azure SQL')]",
				"[concat(variables('factoryId'), '/datasets/inputemailattachments')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_BS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "CA_PePMetricsData"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Multiplesheets')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sheetname": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().sheetname",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Class Marks.xlsx",
						"container": "inputcontainer"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csvfiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "inputcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/emailattachments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat('metricReport_',formatDateTime(utcnow(),'yyyyMMdd'),'.csv')",
							"type": "Expression"
						},
						"container": "email"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "action",
						"type": "String"
					},
					{
						"name": "criteria",
						"type": "String"
					},
					{
						"name": "device",
						"type": "String"
					},
					{
						"name": "gender",
						"type": "String"
					},
					{
						"name": "ageGroup",
						"type": "String"
					},
					{
						"name": "transactionTimeOfDay",
						"type": "String"
					},
					{
						"name": "metricsTimeOfDay",
						"type": "String"
					},
					{
						"name": "isReturnedPatient",
						"type": "String"
					},
					{
						"name": "createdDateTime",
						"type": "String"
					},
					{
						"name": "transactionDate",
						"type": "String"
					},
					{
						"name": "previousMetricsDate",
						"type": "String"
					},
					{
						"name": "metricsDate",
						"type": "String"
					},
					{
						"name": "location",
						"type": "String"
					},
					{
						"name": "userGroup",
						"type": "String"
					},
					{
						"name": "specialty",
						"type": "String"
					},
					{
						"name": "transactionStatus",
						"type": "String"
					},
					{
						"name": "paymentMethod",
						"type": "String"
					},
					{
						"name": "totalAmount",
						"type": "String"
					},
					{
						"name": "count",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/inputcsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"container": "inputcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country_code",
						"type": "String"
					},
					{
						"name": "country_label",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/inputemailattachments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "email"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "action",
						"type": "String"
					},
					{
						"name": "criteria",
						"type": "String"
					},
					{
						"name": "device",
						"type": "String"
					},
					{
						"name": "gender",
						"type": "String"
					},
					{
						"name": "ageGroup",
						"type": "String"
					},
					{
						"name": "transactionTimeOfDay",
						"type": "String"
					},
					{
						"name": "metricsTimeOfDay",
						"type": "String"
					},
					{
						"name": "isReturnedPatient",
						"type": "String"
					},
					{
						"name": "createdDateTime",
						"type": "String"
					},
					{
						"name": "transactionDate",
						"type": "String"
					},
					{
						"name": "previousMetricsDate",
						"type": "String"
					},
					{
						"name": "metricsDate",
						"type": "String"
					},
					{
						"name": "location",
						"type": "String"
					},
					{
						"name": "userGroup",
						"type": "String"
					},
					{
						"name": "specialty",
						"type": "String"
					},
					{
						"name": "transactionStatus",
						"type": "String"
					},
					{
						"name": "paymentMethod",
						"type": "String"
					},
					{
						"name": "totalAmount",
						"type": "String"
					},
					{
						"name": "count",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/opmultisheetds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "outputfile11.xlsx",
						"container": "outputcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/outputcsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"opfilename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().opfilename",
							"type": "Expression"
						},
						"container": "outputcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_BS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_BS_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Inserting data from email attachments to Azure SQL')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "emailattachments",
								"type": "DatasetReference"
							},
							"name": "readingfilefromemailattachmentblob"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSQL",
								"type": "DatasetReference"
							},
							"name": "insertintoAzureSQL"
						}
					],
					"transformations": [
						{
							"name": "DCPackagenamepackagexecutiondate"
						}
					],
					"script": "source(output(\n\t\tid as string,\n\t\taction as string,\n\t\tcriteria as string,\n\t\tdevice as string,\n\t\tgender as string,\n\t\tageGroup as string,\n\t\ttransactionTimeOfDay as string,\n\t\tmetricsTimeOfDay as string,\n\t\tisReturnedPatient as string,\n\t\tcreatedDateTime as string,\n\t\ttransactionDate as string,\n\t\tpreviousMetricsDate as string,\n\t\tmetricsDate as string,\n\t\tlocation as string,\n\t\tuserGroup as string,\n\t\tspecialty as string,\n\t\ttransactionStatus as string,\n\t\tpaymentMethod as string,\n\t\ttotalAmount as string,\n\t\tcount as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> readingfilefromemailattachmentblob\nreadingfilefromemailattachmentblob derive({Package name} = \"email\",\n\t\t{Package Execution Time} = currentDate()) ~> DCPackagenamepackagexecutiondate\nDCPackagenamepackagexecutiondate sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> insertintoAzureSQL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/emailattachments')]",
				"[concat(variables('factoryId'), '/datasets/AzureSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/automaticemailattachmenttrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "emailattachments",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-09-15T07:21:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								4
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/emailattachments')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/deletefiles')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('deletefiles_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('linkedService1_connectionString')]"
				}
			},
			"dependsOn": []
		}
	]
}